/* *{
    margin: 2rem;
} */
body {
    /* background-image: linear-gradient(to right,rgb(207, 138, 10), #3ca55c, #b5ac49); */
    background-image: linear-gradient(to left, teal, white, teal);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#p {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#c {
    width: 65rem;
    height: 37rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: -1px 2px 25px 0px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: -1px 2px 25px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: -1px 2px 25px 0px rgba(0, 0, 0, 0.66);

}

#fields {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 31rem;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(171, 169, 169);
    border-top: none;
    border-bottom: none;
    border-right: none;
}

#heading {
    letter-spacing: 0.5rem;
}

#input input {
    width: 15rem;
    height: 0.2rem;
    margin: .7rem;
    padding: 0.7rem;
    outline: none;
    border: 3px solid rgb(80, 80, 254);
    border-top: none;
    border-right: none;
    border-bottom: none;
}

#forgot {
    margin-right: -14rem;
    margin-top: -2.6rem;
}

#btn {
    width: 14rem;
    /* height: 3rem; */
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 1rem;
    border: none;
    background-image: linear-gradient(to left, rgb(242, 102, 202), rgb(51, 76, 240));
    color: #fff;
}

#btn:hover {
    cursor: pointer;
    background-image: linear-gradient(to left, rgb(51, 167, 255), rgb(255, 98, 98));
}

#icons img {
    width: 1.7rem;
    border-radius: 11.25rem;
}

#icons img:hover {
    animation: iconanim .5s linear;
    animation-direction: alternate-reverse;
    cursor: pointer;
}

#icons {
    width: 9rem;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
}

@keyframes iconanim {
    0% {
        transform: translateY(-.7rem);
    }
}

#signupusing {
    display: flex;
    /* flex-direction:column; */
    justify-content: center;
    /* position: relative; */
    margin-top: 1rem;
}

#Addbutton {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-evenly;
    width: 21rem;
    padding: 2rem;
    /* background-color: rgb(6, 22, 106); */
    margin-top: 24rem;
    /* margin-bottom: -5rem; */
}

#adminbtn,
#superbtn {
    width: 6.3rem;
    height: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-image: linear-gradient(to right, rgb(255, 61, 87), rgb(63, 160, 246));
    color: #fff;
    margin-top: -1.7rem;
}

#adminbtn:hover,
#superbtn:hover {
    cursor: pointer;
    background-image: url(../IMAGES/bg-01.jpg);
}

#sideimage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sideimage img {
    height: 37rem;
    filter: contrast(120%);
}