body{
    /* background-image: url('../IMAGE/signin.png'); */
    background-image: linear-gradient(to right,blue,yellow);
    /* background-repeat: no-repeat; */
}

.box{
    text-align: center;
    background: rgb(73 88 128 / 20%);
    /* border-radius: 25px; */
    width: 450px;
    margin-left: 530px;
    margin-top:100px;
}
.form-items .input{
width: 50%;
margin-bottom: 15px;
padding: 10px 35px 15px;
border-radius: 30px;
background:rgba(255, 255, 255, 0.8);
}

.btn{
    width: 30%;
    border-radius: 10px;
    padding: 10px 15px 15px;
    background-color: rgb(146, 186, 202);
}