body {
    /* background-image: url(''); */
    background-image: linear-gradient(to bottom,purple,rgb(196, 68, 89));
    /* background-repeat: no-repeat; */
    /* background-size:100%; */
}

.box {
    text-align: center;
    background: rgba(197, 91, 52,0.3);
    /* border-radius: 25px; */
    width: 450px;
    margin-left: 530px;
    margin-top: 70px;
    margin-bottom: 3.5rem;
}

.form-items .input {
    width: 50%;
    margin-bottom: 15px;
    padding: 10px 35px 15px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
}

.btn {
    width: 30%;
    border-radius: 10px;
    padding: 10px 15px 15px;
    background-color: rgb(146, 186, 202);
}

.heading{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    color: aliceblue;

}